---
# Create zones
- name: Create WAN zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: wan

- name: Create LAN zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: lan

# Custom zones for certian applications
- name: Create Windows zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: win-dc

- name: Create Client zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: clients

- name: Create DB zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: dbsrv

- name: Create MGT zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: mgt

- name: Create esx1 zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: esx1

- name: Create esx2 zone
  paloaltonetworks.panos.panos_zone:
    provider: "{{ provider }}"
    mode: layer2
    zone: esx2
