[submodule "pan-os-ansible"]
  path = submodule/pan-os-ansible
  url = https://github.com/PaloAltoNetworks/pan-os-ansible.git

[submodule "pfsensible.core"]
  path = submodule/pfsensible
  url = https://github.com/pfsensible/core.git

[submodule "FMCansible"]
  path = submodule/fmc-ansible
  url = https://github.com/CiscoDevNet/FMCAnsible.git