# Palo
pan-os-python>=1.11.0 ; python_version >= "3.8" and python_version < "4.0"
pan-python==0.17.0 ; python_version >= "3.8" and python_version < "4.0"
xmltodict==0.12.0 ; python_version >= "3.8" and python_version < "4.0"
panos-upgrade-assurance==0.3.0 ; python_version >= "3.8" and python_version < "4.0"

# Cisco
ansible>=2.8.8
urllib3==1.24.2
lxml>=4.2.6
# kick library depends on unicon that is available for specific Pythons: https://pypi.org/project/unicon/#files
# firepower-kickstart ;
# ordereddict ; python_version >= '2.6'

# VMware
pyVmomi>=6.7.1
git+https://github.com/vmware/vsphere-automation-sdk-python.git ; python_version >= '2.7' 