- name: Create an access rule allowing trafic from Cisco DevNet
  ftd_configuration:
    operation: upsertAccessRule
    data:
      name: AllowCiscoTraffic
      type: accessrule
      sourceNetworks:
      - '{{ networkobject_ciscodevnetnetwork }}'
      ruleAction: PERMIT
      eventLogAction: LOG_BOTH
    path_params:
      parentId: default